@media (max-width: 768px) {
    .text h2{
    font-size:36px;
    }
    .nav{
        margin-bottom:0;
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        z-index:1000;
        background-color:white;   
    }
    .nav-link{
        padding:5px;
        font-size:12px;
        margin-top:10px;
        display: flex;
        align-items: center;
    }
    .hide-mobile{
        display:none;
    }
    .btn-success{
        margin-top:2px;
    }
    .text{
        margin-top: 110px;
        padding:0 10px;
    }
    body{
        padding-bottom:60px;
    }
   .services-part,
   .services-part2{
      padding:20px;
      min-height:150px;
    }
    .services,
    .services2{
        min-height:auto;
        display:flex;
        align-items:center;
        padding: 20px;;
    }
    #head{
        font-size:20px;
        margin-top:5px
    }
    .btn-success{
        font-size:14px;
        width:100%;
        padding:8px 10px;
        margin:5px 0;
    }
    .button{
        display: flex;
        flex-direction: column;
        padding-bottom:10px;
        padding-top:5px;
    }
    .doctor-image img{
        margin-top:20px;
        margin-bottom:20px;
    }
    .explore{
        display:flex;
        justify-content: center;
        gap:5px;
    }
    .form-section{
        width:95%;
        margin:15px auto;
        border-radius:20px;
    }

    .form-title{
        padding:20px;
        margin-top:10px;
    }

    .input{
        width:100%;
        font-size:14px;
    }

    .form-btn{
        width:100%;
        padding:12px;
    }
    .profile{
        margin-bottom: 20px;
    }
    .contact{
        margin-left:20px;
    }
    .footer-top{
        padding:30px 0 20px 10px;
    }

}