body{
    background-color: #F9F9FF;
}
.heading1{
    position:fixed;
    background-color: #F9F9FF;
    z-index: 1000;
}
.navbar{
    border-bottom: 2px solid #e1e9ff;
}
.nav-link{
    margin:0 10px;
    color: black;
    margin-right: 20px;
}
.nav-link:hover{
    color: #006b54;
}
.nav-link:focus,
.nav-link:active{
    color: #006b54;
}
#head{
    color: #006b54;
    font-weight: 550;
    margin-bottom: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:35px
}
.offcanvas-body{
    background-color: #eff3ff;
}
.nav{
    margin-bottom: 20px;
}
.nav-link1{
    text-decoration: none;
    padding:20px;
    color:#006b54;
}
.nav-item1{
    padding:10px 0 10px 0;
}
.btn-success{
    padding: 10px 12px;
    margin:10px 10px;
    background-color: #006b54;
    color: white;
    margin-right:5px;
}
.popup{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
}
.popup:target{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    background-color:#eff3ff;
    padding: 20px;
    border-radius:10px;
}
.normal{
    padding:10px;
    border-radius: 20px;
    border:none;
}
#cancel{
    font-size:25px;
    color:#006b54
}
#book{
    background-color:#006b54;
    color:white;
    padding:10px 15px;
    border-radius: 10px;
}
.title{
    display: flex;
    gap:20px;
}
/* Home */
.text{
    max-width:650px;
    margin-top:100px;
    font-size: 18px;
}
.text span{
    color:#006b54;
    font-weight:700;
}
.btn-press{
    padding: 12px 24px;
    background-color:#a6f1df;
    color: #227062;
    border: none;
}
.btn-press:focus,
.btn-press:active,
.btn-press:hover{
    background-color:#a6f1df;
}
.btn-round{
    background-color:#a6f1df;
    color: #227062;
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
}
.doctor-image img{
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button{
    gap:24px;
    margin-top:24px;
    margin-bottom: 24px;
}
/* section 2 */
.text h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
}
.service{
    background-color: #eff3ff;
    margin-top: 100px;
}
.services{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    width:100%;
    height: 100%;
    margin-left: 3px;
}
.services-title{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.services-text{
    font-family:inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.services-img img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.services-part{
    background-color: #006b54;
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    min-height: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.services-title2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
}
.main-heading{
    text-align: center; 
    padding-top:40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:32px;
    font-weight: bold;
}
.sub-para{
    text-align: center;
    font-family:inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 40px;
}
.services-part2{
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    min-height:400px;
    height: 100%;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services2{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    min-height:400px;
    margin-right:3px;
    margin-left:3px;
}
.service .row{
    row-gap: 20px;
}
.services-part,
.services2{
    min-height: 320px;
    height: 100%;
}
.services,
.services-part{
    min-height: 450px;
    height: 100%;
}
.services,
.services2,
.services-part,
.services-part2{
    opacity: 0;
    transform: translateY(40px);
    animation:fadeUp 2s ease forwards;
}
@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.services-img{
    overflow:hidden;
    border-radius:20px;
}
.services-img img{
    transition: transform 2s ease;
}
.services-img:hover{
    transform: scale(1,0.8);
}
/* section 3 */
.section3{
    background-color: #F9F9FF;
    padding: 40px;
}
.section3 h2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
}
.section3 p{
    font-family: 'inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 20px;
}
.card-title{
    margin:20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.card-text{
    margin:20px;
    font-family: 'inter','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 16px;
}
.card-slider{
    overflow:hidden;
}
.slide{
    display:flex;
    gap:20px;
    width:max-content;
}
.card{
    flex-shrink: 0;
    width: 24rem;
}
.link{
    margin:20px;
    text-decoration: none;
    color: #006b54;
}
.link:hover{
    text-decoration: underline;
}
.card{
    overflow: hidden;
    border-radius: 20px;
}
.card-img-top{
    height:220px;
    object-fit: cover;
    transition: transform 0.2 ease;
}
.card-img-top:hover{
    transform:scale(1.1);
}
.explore{
    color:#006b54;
    font-weight: bold;
    text-decoration: none;
    display:block;
    text-align: right;
    transition: transform 0.2s ease;
}
.explore:hover{
    transform: translateX(-20px);
}
.card{
    margin-bottom: 40px;
}
/* section 4 */
.star{
    color:#ffb800;
    display: flex;
    justify-content: center;
    margin-bottom:50px;
    gap:5px;
}
.section4 h2{
    text-align: center;
}
.section4{
    padding-top:50px;
    overflow:hidden;
}
.stories{
     background-color:#eff3ff ;
}
#large{
    font-size: 14px;
    margin:0;
    color: #121c21;
}
#small{
    font-size:12px;
    margin:2px 0 0;
    color:#3d4944;
}
.circle-img{
    border-radius:50%;
    width:50px;
    height:50px;
}
.rates{
    margin-bottom: 10px;
    gap:12px;
    padding: 20px;
}
.view{
    font-size: 16px;
    font-style: italic;
    line-height: 1.6;
    color: #3d4944;
}
.profile{ 
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    margin-bottom: 80px;
    min-height:300px;
    transition:0.3s ease;
    flex-shrink: 0;
    max-width:350px;
}
.stories-section{
    overflow:hidden;
}
/* .stories-section{
    position:relative;
}
#next-btn{
    font-size:14px;
    position:absolute;
    top:50%;
    right:-5px;
    transform: translateY(-50%);
    border:none;
    border-radius: 50px;
    color:white;
    cursor: pointer;
    background-color: #006b54;
    width:50px;
    height:50px;
}
#first-btn{
    font-size:14px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    border:none;
    border-radius: 50px;
    color:white;
    cursor: pointer;
    background-color: #006b54;
    width:50px;
    height:50px;
} */
.stories-slider{
    display: flex;
    gap:20px;
    width: max-content;
}
.profile:hover{
   transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,0.12);
}
/* Contact Page */
.contact{
    margin-top: 70px;
    margin-left:40px;
}
.color{
    color: #006b54;
}
.location{
    width: 70px;
    height:70px;
    border-radius: 18px;
    background-color: #dfe5f4;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#006b54;
    flex-shrink:0;
}
.sub-contact{
    color: #006b54;
    font-weight:700;
    margin-bottom:4px;
    text-transform: uppercase;
}
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:0;
}
.contact1{
    gap: 16px;
    display: flex;
    align-items: flex-start;
    margin:30px 0;
}
.contact-text p{
    margin:0;
}
.map-container{
    max-width:550px;
    width:100%;
    height:300px;
    border-radius: 20px;
    overflow:hidden;
    margin-bottom: 70px;
}
.map-image{
    width:100%;
    height:100%;
    object-fit: cover;
    transition:transform 0.2s ease;
}
.map-image:hover{
    transform: scale(1.2);
}
/* form */
.form-section{
     border-radius: 30px;
     background-color:#eff3ff;
     max-width:550px;
     width:100%;
     margin:40px;
     box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
.form-title{
    margin-top:70px;
    padding-left: 50px;
    padding-top:40px;
    padding-bottom: 30px;
}
.input{
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    width:100%;
    max-width: 450px;
}
.form-body{
    padding-bottom: 30px;
}
.form-text{
    margin-bottom:10px;
    font-size: 16px;
}
.form-btn{
    background-color: #006b54;
    max-width:450px;
    width:100%;
    border-radius: 20px;
    color: white;
}
/* footer-section */
.footer-section{
    padding-top:70px;
    padding-left: 30px;
    gap:60px;
}
.footer-wrapper{
    background-color:#eff3ff;
}
.footer-logo{
    color:#006b54;
    display: flex;
    gap:20px;
}
.footer-title{
    font-size: 14px;
    font-weight: bold;
    color:#121c21;
    padding-right: 50px;
}
.footer-section h2,
.footer-section h4{
    padding-bottom: 20px;
}
.footer-section p{
    margin-bottom: 12px;
    line-height: 1.5;
}
.main-footer{
    margin-top:20px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#address{
    font-size: 12px;
    margin-right:20px;
}
.footer-top{
    row-gap:30px;
    padding:70px 0 70px 20px;
}
#tel{
    color: #006b54;
    font-weight: bold;
}
#mail{
    color:#006b54;
    font-weight: bold;
}
.extra{
    font-size:12px;
    display:flex;
    gap:50px;
    font-weight: bold;
}
.error{
    color:red;
    display: block;
    font-size:14px;
}
html{
    scroll-behavior: smooth;
}
.float-img{
    position: fixed;
    right:20px;
    bottom:20px;
    z-index:999;
    color:white;
    border-radius:50%;
}
.float-img img{
    object-fit: cover;
    width:60px;
    height:60px;
    transition: transform 0.3s ease;
    border-radius: 50%;
}
.float-img img:hover{
    transform:scale(1.1);
}
#offcanvasNavbar{
    width: 75%;
    max-width: 280px;
}
.offcanvas-header{
    display: flex;
    align-items: center;
}


/* Head.html */

